<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="ayasibIcon.png">
    <%- include('partials/css') %>
    <link rel="stylesheet" href="/css/profile.css">
    
    <title>AYASIB Profile</title>
</head>

<body>
    <%- include("partials/navbar") %>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to your profile</h1>
            <p class="lead">Mao na ni ang imong tanan nabuhat</p>
            <small class="sub">This is what you've accomplished so far</small>
        </div>
    </div>
    <div class="container">
        <div class="container my-5 py-5">


            <section>
                <div class="row">

                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i
                                class="fas fa-book-open fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>lessons done</small></p>
                                <h5 class="font-weight-bold mb-0"><%= user.lessonsDone %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i
                                class="fas fa-chart-bar fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>known words</small></p>
                                <h5 class="font-weight-bold mb-0"><%= user.knownWords.length %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">

                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-chart-pie fa-lg teal z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>known phrases</small></p>
                                <h5 class="font-weight-bold mb-0"><%= user.knownBisaya.length %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-download fa-lg pink z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>comments</small></p>
                                <h5 class="font-weight-bold mb-0"><%= user.comments.length %></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="media white z-depth-1 rounded">
                            <i class="fas fa-download fa-lg orange z-depth-1 p-4 rounded-left text-white mr-3"></i>
                            <div class="media-body p-1">
                                <p class="text-uppercase text-muted mb-1"><small>contributions</small></p>
                                <h5 class="font-weight-bold mb-0"><%= user.contributions.length %></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="col-lg-6 col-md-6 mb-4">
        <div class="media white z-depth-1 rounded hide">
            <i class="far fa-money-bill-alt fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
            <div class="media-body p-1">
                <p class="text-uppercase text-muted mb-1"><small>lessons completed</small></p>
                <h5 class="font-weight-bold mb-0"></h5>
            </div>
        </div>

    </div>






    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <%- include('partials/js') %>
</body>

</html>