    <%- include("partials/header") %>
    <%- include("partials/css") %>
  <link rel="stylesheet" href="/css/review.css">
  
  <title>Admin Submissions Review</title>
</head>

<body>
  <%- include("partials/navbar") %>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Review the Submissions</h1>
      <p class="lead">Please verify if the submissions are correct</p>
    </div>
  </div>
  <%- include('partials/flash') %> 
  <% if (contributions.length >= 1) { %>
  <% contributions.forEach(element => { %>
  <div class="container review-container">
    <div class="card review-main" id="<%= element._id %>">
      <div class="card-body">
        <h5 class="card-title review-user" id=""><%= element.contributor.username %></h5>
        <label class="bisaya-label"><strong>Cebuano Phrase</strong></label>
        <p class="bisayaPhrase"><%= element.bisayaPhrase %></p>
        <label class="bisaya-label"><strong>Cebuano Meaning</strong></label>
        <p class="bisayaMeaning"><%= element.bisayaMeaning %></p>
        <label class="english-label"><strong>English Phrase</strong></label>
        <p class="englishPhrase"><%= element.englishPhrase %></p>
        <label class="bisaya-label"><strong>English Meaning</strong></label>
        <p class="englishMeaning"><%= element.englishMeaning %></p>
        <small>Date submitted: <%= element.dateSubmitted.toLocaleDateString() %></small><br>
        <button type="button" class="btn btn-warning edit">Edit</button>
        <button type="button" class="btn btn-danger delete">Delete</button>
      </div>
    </div>
    <div class="card review-main hide" id="<%= element._id %>">
      <div class="card-body">
        <h5 class="card-title review-user" id=""><%= element.contributor.username %></h5>
          <div class="form-group">
            <label for="bisayaPhrase">Bisaya Phrase</label>
            <input type="text" class="form-control"  name="bisayaPhrase"
              value="<%= element.bisayaPhrase %>">
          </div>
          <div class="form-group">
            <label for="bisayaMeaning">Cebuano Meaning</label>
            <input type="text" class="form-control"  name="bisayaMeaning"
              value="<%= element.bisayaMeaning %>">
          </div>
          <div class="form-group">
            <label for="englishPhrase">English Phrase</label>
            <input type="text" class="form-control"  name="englishPhrase"
              value="<%= element.englishPhrase %>">
          </div>
          <div class="form-group">
            <label for="englishMeaning">English Meaning</label>
            <input type="text" class="form-control"  name="englishMeaning"
              value="<%= element.englishMeaning %>">
          </div>
      </div>
    </div>
  </div>
    <% }); %>

    <% } else { %>
    <div class="alert alert-success" role="alert">
      No more submissions to verify!
    </div>
    <% } %>


 

<!-- Modal -->
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="Confirm Delete"
  aria-hidden="true">

  <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this submission?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-blue-grey btnCancelDelete" data-dismiss="modal">Cancel</button>
        <form method="POST" action="/resource?_method=DELETE" id="deleteID">
          <button type="submit" class="btn btn-danger btnConfirmDelete">Delete Submission</button>
        </form>
        
      </div>
    </div>
  </div>
</div>




  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <%- include('partials/js') %>
  <script src="/js/review.js"></script>

</body>

</html>